.word.letter {
  color: black;
  background-color: lightblue;
  border: 2px solid #d3d6da;
  display: flex;
  justify-content: space-around;
  /* align-content: center; */
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  height: 60px;
  width: 60px;
  line-height: 60px;
}