h1 .current-word {
  color: brown;
  font-size: 48px;
}
div .current-word {
  top: 50%;
  position: sticky;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  font-size: 24px;
}
th, td {
  text-align: center;
  padding: 1px 10px
}
thead {
  background: goldenrod;
}
.game-input {
  border: thin dashed lime;

  position: sticky;
  top: 90%;
  width: 100%;
}
.flex-parent {
  display: flex;
  border: thick solid purple;
  height: 100vh;
  width: 97vw;
  margin: 15px;
}
.flex-child {
  border: thin dashed chocolate;
  padding: 2px;
  margin: 3px;
  flex: auto;
}
.left {
  width: 75vw;
  top: 50%;
}
.right {
  width: 25vw;
}
.history {
  text-shadow: 1ch;
  width: 100%;
}


.players {
  border: 1px solid red;
  height: 10%;
}