h1 .current-word {
  color: brown;
  font-size: 48px;
}
div .current-word {
  top: 50%;
  position: sticky;
  vertical-align: baseline;
}

.history {
  max-height: 90vh;
  width: 100%;
  display: block;
  overflow-y: auto;
}
.history table {
  border-collapse: collapse;
  font-size: 24px;
  width: 100%;
}
.history thead {
  background: goldenrod;
  position: sticky;
  top: 0;
  z-index: 1;
}
.history tbody {
  max-height: 85vh;
  overflow-y: scroll;
}
.history th, .history td {
  text-align: center;
  padding: 1px 10px;
}

.game-input {
  border: thin dashed lime;
  position: sticky;
  top: 90%;
  width: 100%;
}
.flex-parent {
  display: flex;
  border: thick solid purple;
  height: 100vh;
  width: 97vw;
  margin: 15px;
}
.flex-child {
  border: thin dashed chocolate;
  padding: 2px;
  margin: 3px;
  flex: auto;
}
.left {
  width: 75vw;
  top: 50%;
}
.right {
  width: 25vw;
}

.players {
  border: 1px solid red;
  height: 10vh;
}